html {
	background-color:silver;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
	background-color:linen;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
	display:flex;
	justify-content:space-evenly;
	font-size: 25px;
	line-height: 50px;
}

a {
	text-align: center;
	text-transform: uppercase;
	width: auto;
	text-decoration: none;
	color: black;
}

div {
	text-align: center;
	position: relative;
	top: 70px;
	color:midnightblue;
}

h1 {
	font-size: 40px;
	line-height: 50px;
	margin: 0px;
}

input {
	transform:scale(1.4);
}

label {
	line-height: 40px;
	font-size: 30px;
}

 button {
	
 }